<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>  
<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy",book_path(@book.id),method: :delete %>
<% end %>
<%= render 'users/user_info',user: @user %>